
.form-block {
	padding: 16px;
	border: 2px solid #4f595c;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 27px;
    margin-top: 10px;
	width: 100%;
    height: 516px;
	position: relative;
}
	
.page{
	margin: 0 auto;
	min-width: 320px;
    max-width: 360px;
}
.wrap{
	display: flex;
	width: 80%;
	margin: 0 auto;
	justify-content: center;
}