.form-item {
	.form-control{
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #212529;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border-radius: 0.375rem;
		transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		outline: none;
		width: 90%;
		&:focus{
			border-color: #5783bd;
			box-shadow: 0 0 0 0.25rem rgba(50, 89, 242, 0.25);
		}
	}
	&.has-validation {
		.form-control {
			border-color: #dc3545;
			&:hover,
			&:focus{
				border-color: #dc3545;
				box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
			}
		}

		.error-message {
			position: absolute;
			margin-top: 4px;
			text-align: left;
			font-size: 11px;
			color: #dc3545;
			right: 20px;
		}
	}
} 
.form-label{
	margin-top:15px;

}